@using System.Security.Claims;
@using Microsoft.AspNetCore.Http.Extensions;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    var returnUrl = HttpContextAccessor.HttpContext.Request.GetEncodedPathAndQuery();
    var loggedIn = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated!;
    var userName = string.Empty;
    if (loggedIn)
    {
        userName = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name).Value!;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <main role="main">
        <div class="grid-header flex-space-between">
            <div>
                <a asp-page="/Index">Home</a>
                @if (loggedIn)
                {
                    <span>| <a asp-page="/Post/Submit">submit</a></span>
                }
            </div>
            @if (loggedIn)
            {
                <span>
                    @userName
                    |
                    <a asp-page="/Login" asp-route-returnurl="@returnUrl" asp-route-logout="true">Sign Out</a>
                </span>
            }
            else
            {
                <span>
                    <a asp-page="/Login" asp-route-returnurl="@returnUrl">
                        Login
                    </a>
                    |
                    <a asp-page="/Register" asp-route-returnurl="@returnUrl">
                        Register
                    </a>
                </span>
            }
        </div>
        <div class="grid-main">
            @RenderBody()
        </div>
        </main>
</body>
</html>