@page
@using Forum.Extensions;
@model Forum.Pages.Post.IndexModel
@{
    // we know that Model.PostThread can't be null
    var postThread = Model.PostThread!;
    ViewData["Title"] = postThread.Title;
}

<h3>@postThread.Title</h3>
<div class="flex-column">
    @foreach (var reply in postThread.ReplySet)
    {
        <div class="flex-column" id="@reply.Position">
            <div class="flex-space-between highlight-dark">
                <div class="details">@reply.User | @reply.Age.FormatAgo()</div>
                <div>|#@reply.Position</div>
            </div>
            <div class="thread-content">@reply.Content</div>
        </div>
    }
</div>
<form method="post" class="form-reply">
    <label class="highlight-dark" asp-for="ReplyContent">Reply</label>
    <textarea asp-for="ReplyContent" rows="5"></textarea>
    <button type="submit">Reply</button>
</form>