@page
@using System.Security.Claims;
@using Forum.Extensions;
@model Forum.Pages.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Forum";
}
<div class="home-container">
    @foreach (var p in Model.Posts.Select((post, i) => new { post, i, }))
    {
        <div class="post-preview">
            <div class="post-preview-title">@(p.i + 1). 
                <a asp-page="/Post/Index" asp-route-id="@p.post.ID">@p.post.Title</a>
            </div>
            <div>@p.post.Content</div>
            <div class="details">
                @p.post.UserName | @p.post.Age.FormatAgo()
            </div>
        </div>
    }
</div>